{% extends "base.html" %}

{% load static %}  <!-- Додано завантаження тегу static -->

{% block breadcrumbs %}
  <li class="breadcrumb-item active" aria-current="page">{{ category.name }}</li>
{% endblock %}

{% block title %}{{ category.name }} - Підкатегорії{% endblock %}

{% block content %}
<section class="py-5">
  <div class="container px-4 px-lg-5">
    <h2 class="text-center mb-4">{{ category.name }} — підкатегорії</h2>
    <div class="row gx-4 gx-lg-5">

      {% for sub in subcategories %}
      <div class="col-md-4 mb-5">
        <div class="card h-100 text-center">
          {% if sub.image %}
            <img class="card-img-top" src="{{ sub.image.url }}" alt="{{ sub.name }}">
          {% else %}
            <img class="card-img-top" src="{% static 'img/no-image.png' %}" alt="Без зображення">
          {% endif %}
          <div class="card-body">
            <h5 class="card-title">{{ sub.name }}</h5>
          </div>
          <div class="card-footer bg-transparent">
            <a class="btn btn-outline-dark" href="{% url 'shop:subcategory_detail' sub.slug %}">Переглянути товари</a>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
  </div>
</section>
{% endblock %}
